

/* 
//
//
----------------  Global Styling ---------------- 
//
//
*/

body {
    font-family: var(--ff-montserrat);
    background-color: var(--clr-prm-200-lightGray);
    font-weight: var(--fw-normal);
    color: var(--clr-nut-700-darkGrayBlue);
}

